:root {
    --error-bg-color: rgb(255,199,206);
    --error-text-color: rgb(156,0,6);
    --success-bg-color: rgb(198,239,206);
    --success-text-color: rgb(0,97,0);
    --default-shadow: rgba(0,0,0,0.2);
    --default-shadow-hover: rgba(0,0,0,0.4);
    --default-card-bg: #fff;
    --default-input-bg: #f0f0f0;
    --default-input-bg-focus: #e0e0e0;
    --default-input-text-color: #333;
    --default-link-color: #8aadb8;
    --main-lg-size: 32px;
    --main-m-size: 24px;
    --main-s-size: 16px;
    --main-xs-size: 8px;
}

input, .submitButton {
    font-size: 1rem;
}

p {
    margin-top: 0px;
    margin-bottom: var(--main-s-size);
}

.accountWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.accountContainer {
    min-width: 30vw;
    margin: var(--main-m-size);
    padding: var(--main-m-size);
    position: relative;
    background: var(--default-card-bg);
    border-radius: var(--main-s-size);
    box-shadow: 0 0 20px var(--default-shadow);
    transition: all 0.2s ease-in-out;
}

.accountContainer:hover {
    box-shadow: 0 0 20px var(--default-shadow-hover);
}

.errorMessage, .successMessage {
    display: none;
    margin: 0;
    margin-bottom: var(--main-s-size);
    padding: var(--main-xs-size);
}

.errorMessage {
    color: var(--error-text-color);
    background-color: var(--error-bg-color);
}

.successMessage {
    color: var(--success-text-color);
    background-color: var(--success-bg-color);
}

.textBox input {
    position: relative;
    width: 100%;
    padding: 12px 0px;
    text-indent: 12px;
    background: var(--default-input-bg);
    border: none;
    outline: none;
    color: var(--default-input-text-color);
    border-radius: var(--main-s-size);
    transition: background 0.3s ease;
    margin-bottom: var(--main-m-size);
}

.textBox input:focus {
    background: var(--default-input-bg-focus);
}

.passwordContainer {
    display: flex;
    align-items: center;
}

.toggleEyeButton {
    position: absolute;
    right: 8%;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

#forgotPassword {
    margin-left: 8px;
    margin-top: -16px;
    margin-bottom: 32px;
}

.submitButton {
    width: 100%;
    margin-bottom: var(--main-m-size);
    background: var(--default-input-text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    color: var(--default-card-bg);
    border-radius: var(--main-s-size);
    transition: background 0.3s ease;
}

.submitButton:hover {
    background: #555;
}

hr {
    margin: var(--main-m-size) 0px;
}

.userAgreementText {
    font-size: 0.75rem;
}

.linkRedirect {
    text-decoration: none;
    color: var(--default-link-color);
    transition: all ease-in 0.15s;
    cursor: pointer;
}

.linkRedirect:hover {
    text-decoration: underline;
}




