.content {
    display: flex;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
    width: 100%;
    height: 8rem;
}

.sidebarMenu {
    display: flex;
    flex-direction: column;
    width: 16rem;
    background-color: #C7C7E5;
    height: 100vh;
    padding-right: 16px;
}

.sidebarMenu div {
    padding: 0px 16px;
}

.userProfileWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfileButton {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.taskCategory {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding: 8px 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#activeCategory {
    background-color: rgb(179,179,201);
}

.taskCategory:hover {
    background-color: rgb(179,179,201);
}

a {
    text-decoration: none;
}

.scrollContainer {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 48vh;
}

.userListsWrapper {
    padding-left: 0px;
}

.userLists {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 8px;
}

.userLists button {
    width: 100%;
}

.newTaskWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    position: absolute;
    bottom: 0;
}

.newTaskWrapper input {
    border: none;
    text-indent: 12px;
    font-size: 16px;
    border-radius: 16px;
    padding: 8px 8px;
    margin-bottom: 12px;
    width: 90%;
}