<!DOCTYPE html>

<html> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Calendar </title>
        <link rel="stylesheet" href="../CSS/accountBackgrounds.css">
        <link rel="stylesheet" href="../CSS/dashboard.css">
        <link rel="stylesheet" href="../CSS/Components/sidebar.css">

    </head>

    <body>
        <div class="content">
            <div class="sidebarMenu">
                <div class="userProfileWrapper">
                    <button class="userProfileButton"> 
                        <img width="100" height="100" id="userProfileIcon" src="../Images/Icons/profile.svg">
                    </button>
                </div>
                <div class="taskCategoriesWrapper">
                    <a tabindex="-1" href="dashboard.html"> <button class="taskCategory"> <img src="../Images/Icons/taskCategorySymbols/DashbooardIcon.svg"> Dashboard </button> </a>
                    <a tabindex="-1" href="today.html"> <button class="taskCategory"> <img src="../Images/Icons/taskCategorySymbols/TodayIcon.svg"> Today </button> </a> 
                    <a tabindex="-1" href="planned.html"> <button class="taskCategory"> <img src="../Images/Icons/taskCategorySymbols/PlannedTaskIcon.svg"> Planned </button> </a> 
                    <a tabindex="-1" href="allTasks.html"> <button class="taskCategory"> <img src="../Images/Icons/taskCategorySymbols/AllTaskIcon.svg"> All Tasks </button> </a> 
                    <a tabindex="-1" href="completed.html"> <button class="taskCategory"> <img src="../Images/Icons/taskCategorySymbols/CompletedTaskIcon.svg"> Completed </button> </a> 
                    <a tabindex="-1" href="calendar.html"> <button id="activeCategory" class="taskCategory"> <img src="../Images/Icons/taskCategorySymbols/CalendarIcon.svg"> Calendar </button> </a> 
                    <hr>
                </div>
                <div class="scrollContainer">
                    <div class="userListsWrapper">
                        <!-- For demonstrative purposes only. Repopulate with user data -->
                        <ul class="userLists">
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 1 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 2 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 3 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 4 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 5 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 6 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 7 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 8 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 9 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 10 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 11 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 12 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 13 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 14 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 15 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 10 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 11 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 12 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 13 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 14 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 15 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 12 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 13 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 14 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 15 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 10 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 11 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 12 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 13 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 14 </button> </a>
                            <a> <button class="taskCategory"> <img src="../Images/Icons/detailsIcon.svg"> List 15 </button> </a>
                        </ul>
                    </div>
                </div>
                <div class="newTaskWrapper">
                    <form> 
                        <input type="text" autcomplete="off" autocapitalize="words" placeholder="+ New List">
                    </form> 
                </div>
            </div>
        </div>
    </body>
</html>