<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Dashboard </title>
        <link rel="stylesheet" href="../CSS/main.css">
        <link rel="stylesheet" href="../CSS/fonts.css">
    </head>

    <body>
        <div class="contentWrapper">
            <nav>
                <div class="wrapper">
                    <img id="profilePicture" src="../Images/Icons/profile.svg">
                </div>

                <div class="categories" id="pages">
                    <div class="row active" id="Dashboard">
                        <img class="categoryIcon" src="../Images/Icons/taskCategorySymbols/Dashbooard.svg">
                        <h3> Dashboard </h3>
                    </div>
                    <div class="row" id="Today">
                        <img class="categoryIcon" src="../Images/Icons/taskCategorySymbols/Today.svg">
                        <h3> Today </h3>  
                    </div>
                    <div class="row" id="Planned">
                        <img class="categoryIcon" src="../Images/Icons/taskCategorySymbols/PlannedTasks.svg">
                        <h3> Planned </h3>  
                    </div>
                    <div class="row" id="All">
                        <img class="categoryIcon" src="../Images/Icons/taskCategorySymbols/AllTasks.svg">
                        <h3> All </h3>  
                    </div>
                    <div class="row" id="Completed">
                        <img class="categoryIcon" src="../Images/Icons/taskCategorySymbols/CompletedTasks.svg">
                        <h3> Completed </h3>  
                    </div>
                    <div class="row" id="Pomodoro">
                        <img class="categoryIcon" src="../Images/Icons/taskCategorySymbols/Dashbooard.svg">
                        <h3> Pomodoro </h3>  
                    </div>
                    <div class="row" id="Calendar">
                        <img class="categoryIcon" src="../Images/Icons/taskCategorySymbols/Calendar.svg">
                        <h3> Calendar </h3>  
                    </div>
                    <hr>
                </div>

                <div class="categories" id="folders">

                </div>
                <hr> 
                <form id="newFolderForm" class="wrapper">
                    <input id="newFolderInput" type="text" placeholder="+ New Folder" name="newFolder" autocomplete="off">
                </form>
            </nav>

            <div class="mainWrapper">
                <header>
                    <button class="hamburgerMenu"> <img src="../Images/Icons/details.svg"> </button>
                    <h1> Dashboard </h1>
                </header>
            </div>
        </div>

        <script src="../Scripts/newFolder.js"> </script>
    </body>
</html>